/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Poppins&family=Tourney&display=swap');

/* Globales */
:root { 
    --primario: #282C35;
    --secundario: #DBD3D8;
    --azul: #004BA8;
    --celeste: #66A8B6;
    --fondo-actual: #11101d;
    --header: #181C24;
    --background: #282C35;
    --hover: #484F5F;
    --lightgrey: #DBD3D8;
    --color-title-buttons: #00D4EB;
    --title: 'Audiowide', cursive;
    --text: 'Poppins', sans-serif;
    --console: 'Roboto Mono', monospace;
    --tourney: 'Tourney', cursive;
    --verde: #00a82d;
    --radio: 3px;
    --padxs: 2px;
    --pds: 6px;
    --pda: 12px;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
    height: 100%;
}

body {
    height: 100%;
    color: white;
    font-size: 1.3rem;
    background-color: var(--fondo-actual);
   
}

*, *::before, *::after {
    box-sizing: inherit;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


/* Home */
.home {
    position: fixed;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: var(--background);
    display: inline;
    font-family: var(--text);
}

.material-icons{
    font-size: 16px;
}

.tablecontainer{
    font-family: var(--text);
    background-color: var(--hover);
    border-radius: var(--radio);
    font-size: 12px;
    color: var(--secundario);
    width: 600px;
    margin: 0 auto;
    font-size: 14px;
}


.search{
    width: 600px;
    padding: 14px;
    display: flex;
    
    align-items: baseline;
    width: 100%;
    right: 50%;
}
.tablecontainer .headertools{
    border-bottom: solid 1px #ccccd1;
    border-radius: var(--radio);
    padding: 14px;
    display: flex;
    align-items: baseline;
}

.tablecontainer .headertools .search{
   width: 30%;

}

.tablecontainer .headertools .search-input{
    width: 100%;
    background-color: var(--hover);
    display: block;
    box-sizing: border-box;
    border-radius: var(--radio);
    border: solid 1px #ccccd1;
    color:#ccccd1;

 }


 .tablecontainer .headertools .tools{
    width: 70%;
 
 }
 
 .tablecontainer .headertools .tools ul{
   margin: 0;
   padding: 0;
   display: flex;
   justify-content: start;
   align-items: baseline;
 
 }

 .tablecontainer .headertools .tools ul li{
    display: inline-block;
    margin: 0 var(--padxs);
    align-items: baseline;
  
  }
 
.tablecontainer .datatable{
    border-collapse: collapse;
    width: 100%;
    
}

.tablecontainer .datatable, 
.tablecontainer .datatable th,
.tablecontainer .datatable td{
 padding: var(--pda) var(--pda);
}

.tablecontainer .datatable th{
    font-weight: bolder;
    text-align: left;
    border-bottom: solid 1px #ccccd1;
}

.tablecontainer .datatable td{
    border-bottom: solid 1px #ccccd1;
}

.tablecontainer .datatable tbody tr:nth-child(even){
background-color: var(--primario);
}

.tablecontainer .datatable tbody tr:hover{
    background-color: #35423d;
    }




