/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Poppins&family=Tourney&display=swap');

/* Globales */
:root { 
    --primario: #282C35;
    --secundario: #DBD3D8;
    --azul: #004BA8;
    --celeste: #66A8B6;
    --fondo-actual: #11101d;
    --header: #181C24;
    --background: #282C35;
    --hover: #484F5F;
    --lightgrey: #DBD3D8;
    --color-title-buttons: #00D4EB;
    --title: 'Audiowide', cursive;
    --text: 'Poppins', sans-serif;
    --console: 'Roboto Mono', monospace;
    --tourney: 'Tourney', cursive;
    --verde: #00a82d;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
    height: 100%;
}

body {
    height: 100%;
    color: white;
    font-size: 1.3rem;
}

*, *::before, *::after {
    box-sizing: inherit;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

a {
    text-decoration: none;
    color: white;
}

i {
    cursor: pointer;
}

li {
    list-style: none;
}

/* Header */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--fondo-actual);
    min-width: 73px;
    height: 11rem;
}

.logo {
    padding-left: 2rem;
    align-items: center;
    display: inline;
    display: flex;
}

.ilogo {
    height: 9rem;
}

.nombre {
    font-family: var(--title);
    font-size: 5.5rem;
}

.nombre span {
    font-family: var(--title);
    color: var(--color-title-buttons);
}

.inciarsesion {
    padding-right: 3rem;
}

.registro, .inicio {
    color: white;
    font-family: var(--console);
    font-size: 1.7rem;
}

.registro {
    padding: 2rem;
}

.inicio {
    color: var(--color-title-buttons);
    border-radius: 1rem;
    border: 1px solid var(--color-title-buttons);
    padding: 1.5rem;
    background: linear-gradient(to left, var(--fondo-actual) 50%, var(--color-title-buttons) 50%) right;
    background-size: 200%;
    transition: .4s ease-out;
}

.inicio:hover {
    background-position: left;
    color: var(--fondo-actual);
}

/* Menu Lateral */
.barra {
    position: fixed;
    top: 11rem;
    left: 0;
    bottom: 6rem;
    max-height: calc(100% - 6rem);
    min-width: 29rem;
    max-width: 20%;
    background-color: var(--fondo-actual);
    z-index: 100;
    transition: all 0.5s ease;
    font-family: var(--text);
    overflow: auto;
}

.barra .linknav {
    height: 100%;
    overflow: auto;
}


.barra .linknav li {
    position: relative;
    list-style: none;
    transition: all 0.3s ease;
}

.barra .linknav li:hover {
    background-color: var(--hover);
}

.barra .linknav li .linkicon {
    display: flex;
    align-items: center;
}

.barra .linknav li i {
    height: 50px;
    min-width: 50px;
    text-align: center;
    line-height: 50px; 
    color: #fff;
    font-size: 20px ;
    transition: all 0.3s ease;
}

.barra .linknav li.showMenu i.flecha {
    transform: rotate(180deg);
}

.barra .linknav li a {
    display: flex;
    align-items: center ;
    text-decoration: none;
}

.barra .linknav li a .nombrelogo {
    font-size: 18px;
    font-weight: 400;
    color: #fff;
}

.barra .linknav li .submenu {
    background-color: #1d1b31;
    display: none;  
    padding-left: 3rem;
}

.barra .linknav li.showMenu .submenu {
    display: flex;
    flex-direction: column;
}

.barra .linknav li .submenu a {
    color:white;
    font-size: 15px;
    padding: 5px;
    white-space: nowrap;
    opacity: 0.6;
    transition: all 0.3s ease;
}

.barra .linknav .submenu a:hover {
    opacity: 1;
    color: var(--color-title-buttons);
}

.barra.close .linknav li:hover .submenu {
    top: 0;
    opacity: 1;
    pointer-events: auto;
}

.barra .linknav  li .submenu .nombrelogo {
    display: none;
}

.barra.close .linknav  li .submenu .nombrelogo {
    display: none;
}

.barra.close .linknav  li .submenu .nombrelogo {
    font-size: 18px;
    opacity: 1;
    display: block;
}

.barra .linknav  li .submenu .blank {
    opacity: 1 ;
    pointer-events: auto;
    padding: 3px 20px 6px 16px;
    opacity: 0;
    pointer-events: none;
}

.barra.close .linknav  li:hover .submenu .blank {
    top: 50%;
    transform: translateY(-50%);
}

.barra .linknav li .is {
    background-color: var(--fondo-actual);
    position: fixed;
    bottom: 0;
    padding: 0 6.3rem 0 0;
    transition: all 0.2s ease;
}

.barra.close .linknav li .is {
    width: 78px;
    padding: 0;
}

.home-section {
    position: relative;
    background-color: #e4e9f7;
    height: 100vh;
    left: 296px;
    width: calc(100% - 296px);
    transition: all 0.5s ease;
}

.home-section.close {
    left: 78px;
    width: calc(100% - 78px);

}

.home-section .home-content { 
    height: 60px;
    display: flex;
    align-items: center;
}

.home-section .home-content .bx-menu,
.home-section .home-content .text {
    color: var(--fondo-actual);
    font-size: 35px;
}

.home-section .home-content .bx-menu {
    margin: 0 15px ;
}

.home-section .home-content .text {
    font-size: 26px;
    font-weight: 600;
}

.text, .bx-menu {
    cursor: pointer;
}

.perfil{
    width: 29rem;
    position: fixed;
    height: 6rem;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1d1b31;
}

.imgperfil {
    height: 5.2rem;
    width: 5.2rem;
    object-fit: cover;
    border-radius: 1.6rem;
    margin: 0 1.4rem 0 1.2rem;
    background: #1d1b31;
    padding: .6rem 0;
}

.perfil-contenido {
    display: flex;
    align-items: center;
}

.nombre-perfil, .rol {
    color: #ffff;
    font-size: 1.8rem;
    font-weight: 500;
}

.rol {
    font-size: 1.2rem;
}

.perfil i {
    height: 50px;
    min-width: 78px;
    text-align: center;
    line-height: 50px; 
    color: #fff;
    font-size: 20px ;
    transition: all 0.3s ease;
}

/* Home */
.home {
    position: fixed;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: var(--background);
    display: inline;
    font-family: var(--text);
}

.boton {
    border-radius: 1rem;
    font-family: var(--console);
    font-size: 1.7rem;
    padding: 2rem;
    display: inline;
}

.continua-foro {
    position: fixed;
    right: 0;
    margin-top: 3rem;
    margin-right: 3rem;
    color: var(--verde);
    border: 1px solid var(--verde);
    background: linear-gradient(to left, var(--background) 50%, var(--verde) 50%) right;
    background-size: 200%;
    transition: .4s ease-out;
}

.continua-foro:hover {
    background-position: left;
    color: var(--background);
}

.cuerpo {
    padding-left: 8rem;
    padding-top: 7rem;
    margin-right: 20rem;
    font-size: 2rem;
}

.welcome {
    color: var(--color-title-buttons);
    font-size: 2.5rem;
    font-family: var(--console);
}

.title-home {
    margin-top: 2rem;
    margin-bottom: 5rem;
    font-family: var(--title);
    font-size: 5rem;
}

.conoce-mas {
    display: block;
    position: fixed;
    margin-top: 3rem;
    color: var(--color-title-buttons);
    border: 1px solid var(--color-title-buttons);
    background: linear-gradient(to left, var(--background) 50%, var(--color-title-buttons) 50%) right;
    background-size: 200%;
    transition: .4s ease-out;
}

.conoce-mas:hover {
    background-position: left;
    color: var(--background);
}

.redes {
    position: fixed;
    right: 0;
    bottom: 0;
    display: flex;
    opacity: 0.5;
    margin-bottom: 20rem;
    margin-right: 3rem;
}

.logotipos {
    height:5rem;
    min-width: 3rem;
    margin-right: 5rem;
    line-height: 6rem; 
    color: #fff;
    font-size: 3rem;
    display: block;
}

.line {
    border: 1px solid white;
    position: fixed;
    width: 0.1rem;
    height: 20rem;
    right: 9.2rem;
    bottom: 0;
    opacity: 0.5;
}
/* Iframe */

.contenedor-iframe{
    position: fixed;
    right: 0;
    bottom: 0;
    top: 11rem;
    min-width: calc(100% - 29rem);
    height: 100%;
    overflow: auto;
    
}

/* Perfil.php */.flexperfil{
    height: 100%;
    background-color: var(--background);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -5.5rem;
}
.gridperfil{
    border-radius: 1.5rem;
    display: grid;
    grid-template-rows: [rw1]1fr [rw2]1fr;
    background-color: rgba(0,0,0,0.3);
    backdrop-filter: blur(1rem);
    -webkit-box-shadow: 0px 0px 50px -1px rgba(255,255,255,0.31); 
    box-shadow: 0px 0px 50px -1px rgba(255,255,255,0.31);
}

.img-perfil{
    border-top-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
    height: 25rem;
    width: 45rem;
    grid-row: rw1;
    background-image: url(../img/fondo.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;

}
.opacidad{
    border-top-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 60%);
    display: flex;
    justify-content: center;
    align-items: center;
}
.fotoperfil{
    height: 10rem;
    width: 10rem;
    background-color: rgba(0,0,0,0.3);
    backdrop-filter: blur(1rem);
    border-radius: 1.5rem;

}
.perfil-imgnom{
    display: flex;
    align-items: center;
}
.perfil-nombre{
    display: block;
    font-size: 2.5rem;
    font-family: var(--text);
    margin-right: 3rem;
}
.contenedor-perfil{
    background-color: var(--background);
    height: 25rem;
    font-family: var(--text);
    grid-row: rw2;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
}
.perfil-g2{
    display: grid;
    grid-template-areas: "Nombre Apellido"
                         "Usuario Contraseña"
                         "Email Telefono";
    grid-template-columns: 15rem 15rem;
    column-gap: 2rem;
}
.perfil-g{
    margin-bottom: 1rem;

}
.perfil-g label{
    display: block;
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
    text-align: center;
}
.campo-inputp{
    height: 2.2rem;
    width: 100%;
    outline: none;
    background-color: transparent;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom:0.1rem solid var(--hover);
    color: var(--secundario);
    font-size: 1.3rem;
    text-align: center;
}
.perfil-enviar{
    font-size: 1.5rem;
    background-color: transparent;
    color: var(--secundario);
    height: 2.5rem;
    border: 1px solid var(--secundario);
    width: 15rem;
    margin-top: .8rem;
    border-radius: 1.5rem;
    cursor: pointer;
    background: linear-gradient(to left, var(--background) 50%, var(--secundario) 50%) right;
    background-size: 200%;
    transition: .4s ease-out;
}
.perfil-enviar:hover{
    background-position: left;
    color: var(--background);
}
.perfil-boton-enviar{
    display: flex;
    justify-content: center;
}
/* Contacto */

.contactoback{
    background-color: var(--background);
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -5.5rem;
}
.formulario-contacto{
    padding: 3rem ;
    height: 35rem;
    width: 45rem;
    border-radius: 1.5rem;
    background-color: var(--hover);
    font-family: var(--text);
    -webkit-box-shadow: 0px 1px 13px 0px #DBD3D8; 
    box-shadow: 0px 1px 13px 0px #DBD3D8;

}
.campo{
    display: flex;
    margin-bottom: 2rem;
}
.campo__label{
    flex: 0 0 9rem;
    text-align: right;
    padding-right: 2rem;
    height: 2rem;
}

.campo__field{
    flex: 1;
    border: 1px solid var(--gris);
    height: 2.2rem;
    width: 100%;
    outline: none;
    background-color: transparent;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom:0.1rem solid var(--lightgrey);
    color: var(--lightgrey);
    font-size: 1.3rem;
    text-align: center;
}
.campo__field--textarea{
    height: 10rem;
}
.btn-contacto{
    height: 2.5rem;
    width: 8rem;
    font-size: 1.5rem;
    font-family: var(--text);
    background-color: transparent;
    border: 0.1rem solid var(--lightgrey);
    border-style: solid;
    color: var(--lightgrey);
    border-radius: 1rem;
    cursor: pointer;
    background: linear-gradient(to left, var(--hover) 50%, var(--secundario) 50%) right;
    background-size: 200%;
    transition: .4s ease-out;
}
.btn-contacto:hover{
    background-position: left;
    color: var(--background);
}
.contacto-enviar-btn{
    margin-top: 3.5rem;
    display: flex;
    justify-content: center;
}