/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Poppins&family=Tourney&display=swap');

:root {
    --oscuro-principal: #282C35;
    --claro-princial: #DBD3D8;
    --azul: #004BA8;
    --celeste: #66A8B6;
    --fondo-actual: #11101d;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
}

i {
    cursor: pointer;
}

.barra {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: auto;
    background-color: var(--fondo-actual);
    z-index: 100;
    transition: all 0.5s ease;
}

.barra.close {
    width: 78px;
}

.barra .detalleslogo {
     height: 60px;
     width: 100%;
     display: flex;
     align-items: center ;
}

.barra .detalleslogo i {
    font-size:  30px;
    color: #fff;
    height: 50px;
    min-width: 78px;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
}

.barra .detalleslogo .logo_nombre {
    font-size:  30px;
    color: #fff;
    font-weight: 600;
    transition: 0.3s ease;
    transition-delay:0.1s ;
}

.barra.close .detalleslogo .logo_nombre {
    transition-delay:0s ;
    opacity: 0;
    pointer-events: none ;
}

.barra .linknav {
    height: 100%;
    padding-top: 30px;
    overflow: auto;
}

.barra .linknav {
    overflow: visible;
}

.barra .linknav li {
    position: relative;
    list-style: none;
    transition: all 0.4s ease;
}

.barra .linknav li :hover {
    background-color: #1d1b31;
}

.barra .linknav li .linkicon {
     display: flex;
     align-items: center;
}

.barra.close .linknav li .linkicon {
    display: block;
}

.barra.close .linknav li .linkicon .flecha {
    display: none;
}

.barra .linknav li i {
    height: 50px;
    min-width: 78px;
    text-align: center;
    line-height: 50px; 
    color: #fff;
    font-size: 20px ;
    transition: all 0.3s ease;
}

.barra .linknav li.showMenu i.flecha {
    transform: rotate(180deg);
}

.barra.close .linknav li.showMenu i.flecha {
    display: none;
}

.barra .linknav li a {
    display: flex;
    align-items: center ;
    text-decoration: none;
}

.barra .linknav li a .nombrelogo {
    font-size: 18px;
    font-weight: 400;
    color: #fff;
}

.barra.close  .linknav li a .nombrelogo,
.barra.close .flecha,
.barra.close .linkicon span {
    opacity:  0;
    pointer-events: none;
}

.barra .linknav li .submenu {
     padding: 6px 6px 14px 80px;
     margin-top: -10px;
     background-color: #1d1b31;
     display: none;  
}

.barra .linknav li.showMenu .submenu {
    display: block;
}

.barra .linknav li .submenu a {
    color: #fff;
    font-size: 15px;
    padding: 5px 0;
    white-space: nowrap;
    opacity: 0.6;
    transition: all 0.5s ease;
}

.barra .linknav .submenu a:hover {
    opacity: 1;
}

.barra.close .linknav  li .submenu {
    position: absolute;
    left: 100%;
    top: -10px;
    margin-top: 0;
    padding: 10px 20px;
    border-radius: 0 6px 6px 0;
    transition: all 0.4s ease;
    opacity: 0;
    display: block;
    pointer-events: none;
}

.barra.close .linknav li:hover .submenu {
    top: 0;
    opacity: 1;
    pointer-events: auto;
}

.barra .linknav  li .submenu .nombrelogo {
    display: none;
}

.barra.close .linknav  li .submenu .nombrelogo {
    display: none;
}

.barra.close .linknav  li .submenu .nombrelogo {
    font-size: 18px;
    opacity: 1;
    display: block;
}

.barra .linknav  li .submenu .blank {
    opacity: 1 ;
    pointer-events: auto;
    padding: 3px 20px 6px 16px;
    opacity: 0;
    pointer-events: none;
}

.barra.close .linknav  li:hover .submenu .blank {
    top: 50%;
    transform: translateY(-50%);
}

.barra .linknav li .is {
    background-color: var(--fondo-actual);
    position: fixed;
    bottom: 0;
    padding: 0 6.3rem 0 0;
    transition: all 0.2s ease;
}

.barra.close .linknav li .is {
    width: 78px;
    padding: 0;
}

.home-section {
    position: relative;
    background-color: #e4e9f7;
    height: 100vh;
    left: 296px;
    width: calc(100% - 296px);
    transition: all 0.5s ease;
}

.home-section.close {
    left: 78px;
    width: calc(100% - 78px);

}

.home-section .home-content { 
    height: 60px;
    display: flex;
    align-items: center;
}

.home-section .home-content .bx-menu,
.home-section .home-content .text {
    color: var(--fondo-actual);
    font-size: 35px;
}

.home-section .home-content .bx-menu {
    margin: 0 15px ;
}

.home-section .home-content .text {
    font-size: 26px;
    font-weight: 600;
}

.text, .bx-menu {
    cursor: pointer;
}
