
/* Locales */
.container {
    position: relative;
    background-color: var(--background);
    min-height: calc(100vh - 70px);
}

.nav-bar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: var(--fondo-actual);
    overflow: hidden;
}

.nav-bar li {
    display: block;
    float: right;
    padding: 2rem;
    font-size: 2rem;
    font-family: var(--text);
    transition: all .2s ease-in;
}

.nav-bar li:hover {
    cursor: pointer;
    background-color: var(--hover);
}

.content {
    position: absolute;
    inset: 50%;
    transform: translate(-50%, -50%);
    width: 65vw;
    min-height: 75vh;
    text-align: center;
    padding: 2.5vw;
    background-color: var(--fondo-actual);
    font-family: var(--text);
    font-size: 2.6rem;
}

.content .title, .content p {
    margin: 5rem 4rem;
    transition: all .5s ease-in;
}

.content .title {
    font-size: 5rem;
}

.icons {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    left: 0;
    top: 0;
    min-height: 70px;
}

.icons .logotipos {
    margin: auto 1.5rem;
}


@media (min-width: 1400px) {
    .content {
        max-width: 910px;
    }
}

@media (max-width: 1065px) {
    .content .title {
        font-size: 8vh;
    }
    .content p {
        font-size: 3vh;
    }
}

@media (min-height: 600px) {
    .content {
        min-height: 500px;
    }
    .content p {
        font-size: 2.1vh;
    }
}